@import '../../../styles.scss';

.new-request{
    background: $color3;
    text-align: center;
    font-weight: $font-weight-semibold;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid $color4;
    cursor: pointer;
    &:hover{
        background: $color1;
    }
    margin-top: 5%;
}
