@import '../../../styles.scss';

.items-wrap{
    background: $color3;
    margin: 10% auto ;
    border: 2px solid $color4;
    max-width: 500px;
    
}
.items{
    background: black;
}
.container-table{
    display:flex;
    flex-direction: row;
    border-bottom: 2px solid $color4;
    font-weight: $font-weight-bold;
   

}
.title-table{
    margin: auto;
    
    
}
.name-table{
     width: 34%;
     text-align: center;
     font-size: $font-normal;
     font-weight: $font-weight-semibold;
}
.company-table{
    width: 33%;
    text-align: center;
 }
.answered-table-checked{
    width: 33%;
    text-align: center;
    color: green;
    font-size: $font-large;

}
.answered-table-notchecked{
    width: 40%;
    text-align: center;
    color: red;
    font-size: $font-large;
}
.items{
    display: flex;
    flex-direction: row;
    background: $color2;
    border-bottom: 1px solid $color4;
    padding: 1%;
     
}