@import '../../../styles.scss';

.title{
    text-align: center;
    padding-top: 2%;
    font-size: $font-large;
    font-weight: $font-weight-semibold;
    text-decoration-line: underline;
}
.field{
    text-align: center;
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    font-size: $font-large;
}
.field-submit{
    text-align: center;
    padding-top: 10%;
}

.input{
    margin: auto;
    max-width: 5vw;
}

.btn{
    margin-top: 10%;
}
