<div class="form-login">
    <div class="title">NEW QUOTATION</div>
    <form (ngSubmit)="newQuotationForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
        <div class="field" [ngClass]="{'has-error': feedbackEnabled && nameField.errors}">
            <label>Product</label>
            <input class="input" type="text" name="name" [(ngModel)]="name" #nameField="ngModel" required minlength="1" [disabled]="processing"
            />
        </div>
        <div class="field" [ngClass]="{'has-error': feedbackEnabled && widthField.errors}">
            <label>Width</label>
            <input class="input" type="text" name="width" [(ngModel)]="width" #widthField="ngModel" required minlength="1" [disabled]="processing"
            />
        </div>
        <div class="field" [ngClass]="{'has-error': feedbackEnabled && heightField.errors}">
            <label>Length</label>
            <input class="input" type="text" name="height" [(ngModel)]="height" #heightField="ngModel" required minlength="1" [disabled]="processing"
            />
        </div>
        <div class="field" [ngClass]="{'has-error': feedbackEnabled && colorsField.errors}">
            <label>Colors</label>
            <input class="input" type="text" name="colors" [(ngModel)]="colors" #colorsField="ngModel" required minlength="1" [disabled]="processing"
            />
        </div>
        <div class="field-submit">
            <button class="btn" type="submit" [disabled]="processing">Send Request</button>
            <div *ngIf="feedbackEnabled && form.invalid">
                <p class="validation">there are errors in the form, please review the fields</p>
            </div>
        </div>
    </form>
</div>

<div class="new-request">
    <a (click)="backClicked()">GO BACK</a>
</div>

