@import '../../../styles.scss';

.form-login{
    
    margin: 10% auto;
    background: $color2;
}
.title{
    text-align: center;
    padding-top: 5%;
    font-size: $font-large;
    font-weight: $font-weight-semibold;
     text-decoration-line: underline;
}
.field{
    text-align: center;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    font-size: $font-large;
}
.field-submit{
    text-align: center;
    padding-top: 10%;
}
.btn{
  font-size: $font-normal;
  background: $color3;
  margin-bottom: 10%;
  height: 4vh;
  border-radius: 5px;
  border: 1px solid $color4;
  cursor: pointer;
  a{
    color: $color1;
   }
   &:hover{
      background: $color3;
    }
  
}
.input{
    margin: auto;
}